grupa {
    border-style: solid;
    position: relative;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: bisque;
}
grupa[nr='1'] > student {
    background-color: blueviolet;
}
grupa[nr='2'] > student {
    background-color: aqua;
}
grupa[nr='3'] > student {
    background-color: brown;
}
student {
    text-align: left;
    position: relative;
    display: block;
    border-style: dashed;
    padding: 5px;
    margin: 5px;
    background-color: blanchedalmond;
}
nazwisko {
    font-weight: bold;
}
student[plec='m']:hover{
    background-color: cyan;
}
student[plec='k']:hover{
    background-color: pink;
}
student[plec='m'] > nazwisko:after {
    content:url("oznaczenieMezczyzna.png");
}
student[plec='k'] > nazwisko:after {
    content:url("oznaczenieKobieta.png");
}
nralbumu {
    display: block;
    font-size: small;
}
nralbumu:before {
    content: "nr albumu: ";
}